
@{
    ViewBag.Title = "AcceptedSchedule";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<br />
<br />
<h2 class="text-center">You have successfully accepted your interview schedule</h2>

