
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2 class="text-center text-info text-center" >You are about to start with a video interview</h2>
<br />
<br />
<div>
    <ol class="text-info" style="text-align:justify">
        <li>Ensure that you won’t be interrupted, either by locking the door or by alerting others that you can’t be disturbed (a note on the door of the room as well as the door to the outside may be helpful).</li>
        <br />
        <li>
            Check that your webcam is working.
        </li>
        <br />
        <li>
            Check that your audio is working.
        </li>
        <br />
        <li>
            Close any windows, tabs or applications on your computer that you’re not using.
        </li>
        <br />
        <li>
            Check your internet connection and make sure you’re not downloading anything in the background.
        </li>
        <br />
        <li>
            Set your phone to silent.
            </li>
            <br />
            <li>
                Check that the background behind you is neutral and free from clutter.
            </li>
</ol>
</div>

<br />
<div>
    <a href="/Interviews/CameraInterview" class="au-btn au-btn--block au-btn--blue2 m-b-40" style="text-align:center">Click to Proceed</a>
</div>
