@{
    ViewBag.Title = "Success Registration";
    Layout = "~/Views/Shared/_LayoutCompanyLogin.cshtml";
}
<div class="login-area login-bg" style="font-family:'Poppins'">
    <div class="container">
        <div class="login-box ptb--100">
            <div class="success-form-head text-center" style="font-family:'Poppins'">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <h2 style="font-family:'Poppins'; color:white">Congratulations; Your Registration was Successful</h2><br />
                <h3 style="font-family:'Poppins'; color:white">Please login to your email to see your username and password</h3>
                <br />
                <div class="submit-btn-area">
                    <a href="/Companies/Login" id="form_submit">Click to Login <i class="fa fa-sign-in"></i></a>
                </div>
            </div>
        </div>
</div>
</div>